body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(77, 143, 171);
}

.topnav a {
    float: left;
    color: rgb(0, 255, 170);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(157, 157, 157);
    color: black;
}

.topnav a.active {
    background-color: rgb(255, 68, 0);
    color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(212, 14, 14);
    color: white;
    text-align: center;
    margin-top: 50px;
}
.contact-container {
    max-width: 500px;
    background: #05feb7;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus,
textarea:focus {
    border-color: #ff00e6;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0415ff;
}

/* Responsive */
@media (max-width: 600px) {
    .contact-container {
        padding: 15px;
    }
}