body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav{
    overflow: hidden;
    background-color: black;
}
.topnav a{
    float: left;
    color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: rgb(157, 157, 157);
    color: black;
}
.topnav a.active{
    background-color: yellow;
    color: black;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
}