body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.topnav{
    overflow: hidden;
    background-color: black;
}
.topnav a{
    float: left;
    color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: rgb(157, 157, 157);
    color: black;
}
.topnav a.active{
    background-color: yellow;
    color: black;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.float{
    float: left;
    margin-left: 20px;
}
.contact-container {
    max-width: 500px;
    background: #fff;
    padding: 25px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ba1f1f;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus,
textarea:focus {
    border-color: #ff0000;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #02fbff;
}

/* Responsive */
@media (max-width: 600px) {
    .contact-container {
        padding: 15px;
    }
}